<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <link rel="stylesheet" th:href="@{/styles/newPassword_styles.css}">
    <meta charset="UTF-8">
    <title>New password</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js" integrity="sha256-sPB0F50YUDK0otDnsfNHawYmA5M0pjjUf4TvRJkGFrI=" crossorigin="anonymous"></script>
    <script th:src="@{js/validation.js}"></script>
</head>
    <body>
        <div id="header">

        </div>
        <div id="main">
            <form id="newPasswordForm" class="verticalForm" th:action="@{/newPassword}" method="POST" th:object="${DTO}">
                <input id="email" name="email" type="hidden" th:field="*{email}" th:value="${DTO.email}">
                <div id="tokenWrapper">
                    <input id="resetPasswordToken" name="resetPasswordToken" type="text" placeholder="Token" th:field="*{resetPasswordToken}">
                </div>
                <div id="newPasswordWrapper">
                    <input type="password" id="newPassword" name="newPassword" placeholder="Enter password" th:field="*{newPassword}"> <!--todo stylization of valid password, equal passwords, password strength progressbar-->
                </div>
                <div id="newPasswordConfirmationWrapper">
                    <input type="password" id="newPasswordConfirmation" name="newPasswordConfirmation" placeholder="Confirm password" th:field="*{newPasswordConfirmation}">
                </div>
                <div>
                    <button type="submit">Reset password</button>
                </div>
            </form>
        </div>
        <div id="footer">

        </div>
    </body>
</html>