<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/registration_styles.css}">
</head>
<body>
    <div id="header"></div>
    <div id="main" class="flexContainer">
        <div id="imageContainer" class="flexItem">
            <img th:src="@{/img/registration.png}" alt="Registration image">
        </div>
        <div id="formContainer" class="flexItem">
            <form id="registrationForm" class="verticalForm" th:action="@{/registration}" th:object="${user}" method="POST">
                <div>
                    <span>Welcome</span>
                </div>
                <div id="usernameContainer">
                    <!--<label for="username">Username</label>-->
                    <input class="placeholder" id="username" name="username" th:field="*{username}" placeholder="USERNAME">
                </div>
                <div id="passwordContainer">
                    <!--<label for="password">Password</label>-->
                    <input class="placeholder" id="password" name="password" type="password" th:field="*{password}" placeholder="PASSWORD">
                </div>
                <div id="confirmPasswordContainer">
                    <!--<label for="confirmPassword">Confirm password</label>-->
                    <input class="placeholder" id="confirmPassword" name="confirmPassword" type="password" th:field="*{confirmPassword}" placeholder="CONFIRM PASSWORD">
                </div>
                <button type="submit">Register now</button>
            </form>
        </div>
    </div>
<div id="footer"></div>
</body>
</html>