<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Reset password</title>
    <link rel="stylesheet" th:href="@{/styles/resetPassword_styles.css}">
</head>
    <body>
        <div id="header">

        </div>
        <div id="main">
            <form class="verticalForm" th:action="@{/resetPassword}" method="POST">
                <div id="emailContainer">
                    <input id="email" name="email" type="email" placeholder="E-Mail">
                </div>
                <div id="submitButtonContainer">
                    <button id="submitButton" type="submit">Reset password</button>
                </div>
            </form>
        </div>
        <div id="footer">

        </div>
    </body>
</html>