@import url("https://fonts.google.com/specimen/Ubuntu");

* {
    margin: 0;
    padding: 0;
    font-family: Ubuntu, sans-serif;
    font-size: 16px;
    color: black;
    text-decoration: none;
    /*border: 2px black solid;*/ /*TODO delete*/
}

#main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 28%;
    height: 17%;
    min-width: 300px;
    min-height: 185px;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: rgb(252,70,236);
    background: linear-gradient(45deg, rgba(252,70,236,1) 0%, rgba(124,38,255,1) 100%);
}

.verticalForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.verticalForm > * {
    margin: 5% auto;
}